# Build / 生成目录
build/
Debug/
Release/
MDK-ARM/
.cache/

# IDE / 工具本地配置
.settings/
.vscode/
.dsh/

# 编译中间文件
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.crf
*.lnp
*.axf
*.htm
*.dep
*.build_log.htm
*.uvguix.*
*.uvoptx
*.uvprojx
*.scvd
*.dbgconf

# 临时文件
*.bak
*.tmp
*~
